body {
  background-color: blanchedalmond;
}
.line {
  height: 1px;
  width: 580px;
  background-color: black;
}
.container {
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 5px;
  margin-left: 50px;
  height: 500px;
  width: 600px;
  background-color: white;
}
.count-area {
  margin-top: 20px;
}
button {
  margin-top: 20px;
}
